<%- contentFor('page')%>
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>NBR 12.721 - Informações Preliminares</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de login do site da Construtora e Incorporadora Maschio Shin">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/pages/nbr12721.css">
    <style>
        @media print {
            @page {
                size: portrait;
            }
        }

    </style>


</head>

<body>


<div class="container-fluid">
    <div class="row">


        <!-- Begin Content -->
        <div class="col-sm-12">


            <div class="row">
                <div class="col-sm-8">
                    <div class="tag-box-v3 margin-bottom-10">
                        <span><strong>NBR 12.721 - INFORMAÇÕES PRELIMINARES</strong></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="tag-box-v3 margin-bottom-10">
                        <span><strong>Folha nº :</strong> 1/11</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="tag-box-v3 margin-bottom-10">
                        <p><strong>1. INCORPORADOR E PROPRIETÁRIO</strong></p>
                        <strong>1.1 Nome:</strong> <%=nomeInc%>
                        <%
                          var cnpj = cnpjInc
                          var cpf = cpfInc
                          var name = ""
                          var result = cnpjInc || cpfInc
                            if(result == cnpjInc){
                                var name = "1.2 CNPJ:"
                            }else{
                                var name = "1.2 CPF:"
                            }
                        %>
                        <br><strong><%=name%></strong> <%=result%>
                        <br><strong>1.3 Endereço:</strong> <%=enderecoInc%>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="tag-box-v3 margin-bottom-10">
                        <p><strong>2. RESPONSABILIDADE TÉCNICA PELAS INFORMAÇÕES E CÁLCULOS</strong></p>
                        <strong>2.1 Profissional Responsável Técnico:</strong> <%=profissionalTec%>
                        <br><strong>2.2 Número de Registro do Profissional no CREA:</strong> <%=creaTec%>
                        <br><strong>2.3 Anotação de Responsabilidade Técnica (ART):</strong> <%=artTec%>
                        <br><strong>2.4 Endereço:</strong> <%=enderecoTec%>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <div class="tag-box-v3 margin-bottom-10">
                        <p><strong>3. DADOS DO PROJETO </strong></p>
                        <strong>3.1 Nome do Edifício:</strong> <%=nomeProj%>
                        <br><strong>3.2 Local da Construção:</strong> <%=localProj%>
                        <br><strong>3.3 Cidade/UF:</strong> <%=cidadeProj%>
                        <br><strong>3.4 Designação Projeto-Padrão da NBR 12.721 mais semelhante ao imóvel:</strong> <%=designacaoProj%>
                        <br><strong>3.5 Quantidade de Unidades Autônomas:</strong> <%=quantidadeProj%>
                        <br><strong>3.6 Padrão de Acabamento:</strong> <%=padraoProj%>
                        <br><strong>3.7 Número de Pavimentos:</strong> <%=pavimentosProj%>
                        <br><strong>3.8 Quantidade de Vagas de Estacionamento para Veículos:</strong>
                        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>3.8.1 Vagas de Estacionamento (Unidade Autônoma):</strong> <%=vagasAutonomas%>
                        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>3.8.2 Vagas de Estacionamento (Acessório de Unidade Autônoma):</strong> <%=vagasAcessorio%>
                        <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<strong>3.8.3 Vagas de Estacionamento (Áreas de Uso Comum):</strong> <%=vagasComum%>
                        <br><strong>3.9 Área do Lote/Terreno:</strong> <%=areaProj%>
                        <br><strong>3.10 Data de Aprovação do Projeto Arquitetônico:</strong> <%=dataAprov%>
                        <br><strong>3.11 Número do Alvará de Aprovação do Projeto Arquitetônico:</strong> <%=numeroAlvara%>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="tag-box-v3 margin-bottom-10">
                        <p><strong>4. INFORMAÇÕES PLANILHAS/QUADROS</strong></p>
                        Esta é a primeira folha de um total de 11 folhas, todas numeradas seguidamente pelo profissional responsável técnico, incorporador/proprietário, para arquivamento e registro junto ao competente Registro de Imóveis, em atendimento ao disposto na Lei 4.591 de 12 de dezembro de 1964.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="tag-box-v3 margin-bottom-10">
                        <p><strong>5. DATA, LOCAL, ASSINATURA E CARIMBOS</strong></p>
                        <p>São Paulo, <%=dataPreench%></p>
                        <br>____________________________________________
                        <br> <%=nomeInc%>
                    </div>
                </div>
            </div>
    </div>
</div>









<!-- JS Global Compulsory -->
<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/js/bootstrap.min.js"></script>


</body>
</html> 